cmake
g++
make
wget
opencv-python-headless==4.8.0.76
ffmpeg-python==0.2.0
numpy==1.25.0
libavformat-dev
libavcodec-dev
libswscale-dev
libavutil-dev
libx264-dev
libx265-dev
zlib1g-dev
libbz2-dev
liblzma-dev
libzstd-dev
libfftw3-dev
binutils
